@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* 배경색을 F0F0F0로 */
    --bg-color: #fff8d6;
}

@font-face {
    font-family: "Goyang";
    src: url("/fonts/goyang.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bazzi";
    src: url("/fonts/bazzi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Dovemayo";
    src: url("/fonts/Dovemayo_gothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}
